# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/*
*/build/*

!build/libs
!build/docs

# Ingore IDE files
.idea
.classpath
.project
.settings/
bin/